{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KoronaWirus</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
</head>
<body>

    <header>
        <div class="header-wrapper">
            <a class="active" href="#">Home</a>
            <a href="#">News</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
        </div>
    </header>

    <div class="content-wrapper">
        <div class="map-wrapper">
        <object type="text/html" style="transform-origin: top left;" data="https://hgis.uw.edu/virus/">
        </object>

        </div>
        <div class="table-content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>