{% extends "base/base.html" %}
{% load static %}
{% block mycss %}
    <link rel="stylesheet" type="text/css" href="{% static 'graph/graph.css' %}">
{% endblock %}
{% block content %}
    <form>
        <select name="country" id="country-select">
            {% for c in country_list %}
                <option value="{{c}}" {% if selectedCountry == c %}selected="selected"{% endif %}>{{c}}</option>
            {% endfor %}
        </select>
        <input type="submit" method="GET" value="search"/>
    </form>

    {{ selectedCountry }}

    {% if graph %}
        {{ graph|safe }}
    {% else %}
        <p>No graph was provided.</p>
    {% endif %}
    
    <div class="table-responsive">
        <!-- cases table -->
        <table class="table align-items-center table-flush sortable ">
            <thead class="thead-light">
            <tr>
                <th scope="col">Confirmed</th>
                <th scope="col">Recovered</th>
                <th scope="col">Deaths</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for row in Countries|slice:"::-1"|slice:":10" %}
                <tr>
                    <td>{{ row.confirmed }}</td>
                    <td>{{ row.recovered }}</td>
                    <td>{{ row.dead }}</td>
                    <td>{{ row.date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}